// .table {
//   width: 50%;
//   margin-left: 25%;
//   // margin-top: 83px;
//   font-size: 14px;
//   font-weight: 600;
// }

// .table>:not(caption)>*>* {
//   border-bottom-width: 0px;
// }

// .material {
//   font-size: 20px;
//   color: #673ab7;
//   margin-left: -158px;
//   margin-right: -76px;
//   margin-top: 11px;
// }

// #edit {
//   color: gray;
//   margin-left: -2px;
// }

// #delete {
//   color: gray;
//   margin-left: 30px;
// }
#icon {
  margin-left: 27%;
}

#text {
  margin-top: -43px;
  margin-left: 30%;
}

#iconn {
  margin-top: -37px;
  margin-left: 70%;
}

#iconnn {
  margin-top: -44px;
  margin-left: 72%;
}

.material {
  font-size: 20px;
  color: #6227c9;
}

#edit {
  font-size: 20px;
  color: #84818a;
}

#delete {
  font-size: 20px;
  color: #84818a;
}
