<div>
  <mat-toolbar style="background-color: #5a28b2">
    <p id="text">Todo App</p>
  </mat-toolbar>
</div>
<div>
  <form (ngSubmit)="onSubmit()" #addform>
    <mat-card>
      <mat-form-field class="example-full-width" appearance="outline">
        <input
          matInput
          type="text"
          name="title"
          [(ngModel)]="title"
          id="title"
          placeholder="Enter Tilte"
        />
      </mat-form-field>

      <!-- <mat-form-field class="example-full-width" appearance="outline">
        <input
          matInput
          type="text"
          name="desc"
          [(ngModel)]="desc"
          id="desc"
          placeholder="Enter desc"
        />
      </mat-form-field> -->
      <br />
      <button mat-raised-button id="addbutt">ADD</button>
      <button mat-raised-button id="savebutt" style="display: none">
        Save
      </button>
    </mat-card>
  </form>
</div>
